@import "../../../../src/styles/settings.scss";

.root {
  width: 100%;
  background: $navBarBg;
  overflow: hidden;

  ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    column-gap: 50px;

    a {
      padding: 15px 0;
      position: relative;
      text-transform: uppercase;
      text-decoration: none;

      &.active {
        border-bottom: solid 2px $navBarActiveColor;
      }

      &:visited {
        color: inherit;
      }

      &::after {
        @extend %animation;
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        background: $navBarActiveColor;
        left: 0;
        bottom: 0;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

@media (max-width: 767px) {
  .root {
    ul {
      column-gap: 25px;
    }
  }
}
