@import '../../../../src/styles/settings.scss';

.root {
  @extend %animation;
  width: 130px;
  height: 41px;
  line-height: 41px;
  color: $btnFontColor;
  background: $btnBg;
  border: none;
  border-radius: $btnRadius;
  cursor: pointer;

  &.searchBtn {
    border-radius: $borderRadius;
  }

  &.small {
    width: 50px;
    background: $btnSmallBg;
  }

  &:hover {
    background: $btnHoverBg;
  }
}
