@import "settings.scss";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Ubuntu:wght@300;400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1320px;
  margin: 60px auto;
}

@media (max-width: 1320px) {
  .container {
    padding: 0 15px;
  }
}
