$baseSize: 14px;

$ubuntu: 'Ubuntu', sans-serif;

//radius
$borderRadius: 45px;
$btnRadius: 10px;
$inputRadius: 5px;
$imgRadius: 5px;
$boxRadius: 5px;

//animations
$bg-transition: 0.25s;
$text-transition: 0.25s;
$opacity-transition: 0.25s;
$transition-time: 0.25s;

%animation {
  transition-property: background-color, color, opacity;
  transition-duration: $bg-transition, $text-transition, $opacity-transition;
  transition: all ease-in-out $transition-time;
}

//color definitions
$red: #d5152d;
$orange: #ffcc00;
$white: #ffffff;
$black: #000000;
$greyLight: #fafafa;
$grey: #e7e7e7;
$greyDark: #818181;
$greyHard: #3d3d3d;

//elements color
$bodyBg: $white;

$btnBg: $red;
$btnSmallBg: $white;
$btnFontColor: $white;
$btnHoverBg: $black;

$topBarBg: $red;
$topBarLogoFontColor: $white;
$topBarIconsColor: $white;
$topBarIconsHoverColor: $black;
$topBarCartBg: $orange;
$topBarCartCounterBg: $red;
$topBarCartTotalPriceColor: $black;

$navBarBg: $white;
$navBarActiveColor: $red;

$formIconBg: $greyLight;
$formIconColor: $red;
$formInputBorder: $grey;
$formErrorFontColor: $red;

$aboutBoxBg: $greyLight;
$aboutBoxFontColor: $red;

$workerBoxBg: $greyLight;
$workerBoxFontColor: $black;
$workerBoxIconColor: $red;
$workerHoverBg: $red;
$workerHoverFontColor: $white;

$opnionsBarBg: $greyLight;
$opnionsBarNameFontColor: $red;

$featureBoxBorderColor: $grey;
$featureBoxBorderHoverColor: $red;
$featureBoxIconContainerBg: $grey;
$featureBoxIconColor: $red;

$bannerHeaderFontColor: $red;
$bannerParagraphFontColor: $greyDark;

$productsBarBg: $white;

$productBoxBg: $white;
$productBoxBenefitsBg: $red;
$productBoxBenefitsFontColor: $white;

$brandsBarBg: $greyLight;
$brandsBarBorderColor: $grey;

$footerBg: $greyLight;
$footerFontColor: $greyDark;
$footerBorderColor: $grey;
$footerIconColor: $red;
$footerCopyrightFontColor: $white;
$footerCopyrightBg: $greyHard;
