@import "../../../../src/styles/settings.scss";

.root {
  justify-content: center;
  position: relative;

  .icon {
    @extend %animation;
    position: absolute;
    left: 20px;
    color: $singleProductIconColor;
    font-size: ($baseSize * 2);
    cursor: pointer;

    &:hover {
      color: $singleProductIconHoverColor;
    }
  }

  .imgContainer {
    padding: 0 60px;

    img {
      width: 300px;
      height: 300px;
      object-fit: contain;
    }
  }

  .description {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 700px;
    padding: 0 60px;
    border-left: solid 1px $singleProductBorderColor;

    .descIcon {
      @extend .icon;
      left: unset;
      right: 20px;
    }

    h3 {
      position: relative;
      margin: 0;

      &::before {
        position: absolute;
        width: 100%;
        height: 1px;
        content: "";
        bottom: -5px;
        background: $singleProductBorderColor;
      }
    }

    .sizes {
      display: flex;

      .size {
        @extend %animation;
        margin: 0 5px;
        padding: 5px 15px;
        text-transform: uppercase;
        border: solid 1px $singleProductBorderColor;
        border-radius: $boxRadius;
        cursor: pointer;

        &.active,
        &:hover {
          background: $singleProductSizeActiveColor;
          border: solid 1px $singleProductSizeActiveColor;
          color: $singleProductSizeActiveFont;
        }
      }
    }

    .quantity {
      display: flex;
      align-items: center;
      margin-top: 30px;

      input {
        width: 35px;
        height: 30px;
        margin: 0 3px;
        text-align: center;
        background: $singleProductInputBg;
        border: solid 1px $singleProductBorderColor;
        border-radius: $boxRadius;
        outline: none;

        &:nth-child(even) {
          cursor: pointer;

          &:hover {
            color: $singleProductInputHoverColor;
            background: $singleProductInputHoverBg;
          }
        }
      }
    }
  }
}

@media (max-width: 1025px) {
  .root {
    .imgContainer,
    .description {
      padding: 30px 10px;
      border: none;
    }
  }
}
