@import "../../../../src/styles/settings.scss";

.root {
  margin: 0;

  form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    input {
      width: 600px;
      height: 35px;
      border: solid 1px $formInputBorder;
      border-radius: $inputRadius;
      outline: none;
      padding-left: 10px;
      margin: 5px 0;
    }

    textarea {
      @extend input;
      resize: none;
      padding-top: 10px;
      height: 150px;
    }
  }
}

@media (max-width: 769px) {
  .root {
    form {
      input {
        width: 300px;
      }
    }
  }
}
