@import "../../../../src/styles/settings.scss";

.root {
  background: $opnionsBarBg;

  .content {
    padding: 60px 0;
    img {
      width: 250px;
      height: 250px;
      object-fit: cover;
      border-radius: 50%;
    }

    h3 {
      color: $opnionsBarNameFontColor;
      text-transform: uppercase;
    }
  }
}
