@import "../../../../src/styles/settings.scss";

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 40px 15px;
  border: solid 1px $productRowBorderColor;
  border-top: none;

  .desc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .icon {
      @extend %animation;
      color: $productRowIconColor;
      cursor: pointer;

      &:hover {
        color: $productRowIconHoverColor;
      }
    }

    img {
      width: 50px;
      height: 50px;
      margin: 0 50px;
      object-fit: contain;
    }

    span {
      padding: 0 50px;
    }

    input {
      margin: 15px 0;
      text-align: center;
      width: 30px;
      height: 30px;
      border: solid 1px $productRowBorderColor;
      outline: none;
    }

    .messageInput {
      width: 200px;
    }
  }
}

@media (max-width: 824px) {
  .root {
    .desc {
      padding: 25px 0;
      img {
        margin: 0 15px;
      }

      span {
        padding: 0 15px;
      }
    }
  }
}
